<!-- Start right Content here -->

<div class="content-page">
    <!-- Start content -->
    <div class="content">

        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="mt-0 header-title"></h4>
                    <h4>ADD Category</h4>

                    <div class="general-label">
                        <form action="/admin/add-category" method="POST" class="form-horizontal">
                            <div class="form-group row">

                                <div class="col-md-12">
                                    <div class="input-group mt-2">
                                        <span class="input-group-prepend">
                                            <button type="button" class="btn btn-primary">Name</button>

                                        </span>
                                        <input type="text" id="example-input1-group2" name="category"
                                            class="form-control" placeholder="">
                                    </div>
                                </div>


                                <div class="col-md-12 d-flex justify-content-center ">

                                    <button style="width:200px ;  " class="btn btn-outline-primary mt-3"
                                        type="submit">Submit</button>
                                </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Right content here -->