<!-- Start right Content here -->

<div class="content-page">
    <!-- Start content -->
    <div class="content">

        <div class="col-lg-9">
            <div class="card">
                <div class="card-body">
                    <h4 class="mt-0 header-title"></h4>
                    <h4>ADD Banner</h4>

                    <div class="general-label">
                        <form action="/admin/add-banner" method="POST" class="form-horizontal"
                            enctype="multipart/form-data">
                            <div class="form-group row">

                                <div class="col-md-12">
                                    <div class="input-group mt-2">
                                        <span class="input-group-prepend">
                                            <button type="button" class="btn btn-primary">Name</button>

                                        </span>
                                        <input type="text" id="example-input1-group2" name="Name" class="form-control"
                                            placeholder="">
                                    </div>
                                </div>


                                

                                <div class="col-md-12">
                                    <div class="input-group mt-2">
                                        <span class="input-group-prepend">
                                            <button type="form" class="btn btn-primary">Description</button>
                                        </span>
                                        <input type="text" id="example-input3-group2" name="Description"
                                            class="form-control" placeholder="">
                                        <span class="input-group-append">
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="input-group mt-2">
                                        <div class="custom-file">
                                            <input type="file" name="image" class="custom-file-input"
                                                id="inputGroupFile04" multiple>
                                            <label class="custom-file-label" for="inputGroupFile04">Choose
                                                file</label>
                                        </div>
                                        <div class="input-group-append">
                                        </div>
                                    </div>
                                    <button style="width:200px ;" class="btn btn-outline-primary mt-3"
                                        type="submit">Submit</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Right content here -->